body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.app-button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.app-button:hover {
    background-color: #0056b3;
}
